@model  MVC.Models.Calificar_cliente

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<h2> nombre usuario : @Session["userTramitador"])</h2>
    
    
        <tr>
            <td>
                
                @Html.DisplayFor(model => model)
            </td>
            
            <td>
                
            </td>
        </tr>
    


    </table>
