@{
    ViewBag.Title = "Home Page";
}


<head>
    <title> Index</title>
    <style>
        .jumbotron {
            background-image: url(../Imagenes/ha.png);
        }
    </style>
</head>

   
        <div class="jumbotron">
            <br />
            <br />
            <br />
            <br />
            <h1>DILILYA</h1>
            <p class="lead">El mejor servicio de mensajeria </p>

        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>CONOCENOS</h2>
                <p>
                    deja que DILIYA se preocupe por ti
                    inscribete al programa de diligencias premium
                </p>

            </div>
            <div class="col-md-4">
                <h2>REGISTRATE</h2>
                <p>Utiliza nuestros servicios</p>
                <p><a class="btn btn-default" href=/Clientes/Index> Registrate &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>INICIA SESION</h2>
                <p>Utiliza nuestros servicios</p>
                <p><a class="btn btn-default" href=/iniciosesion/iniciarsesion> Registrate &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>TRABAJA CON NOSOTROS</h2>
                <p>Necesitas ingresos extra trabaja con nosotros mientras conoces</p>
                <p><a class="btn btn-default" href=/Tramitadors/Index>Trabaja aqui &raquo;</a></p>
            </div>

        </div>
    </div>
    </body>
</html>